a {
  color: inherit;
}

.table-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table-header > * {
  width: 100%;
  margin: 5px;
}

.mat-cell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#addSpecificationButton {
  display: flex;
  margin-left: 15px;
  cursor: pointer;
}

#addSpecificationButton span {
  margin-left: 10px;
  font-size: 14px;
}
