<div class="logout">
  <div *ngIf="authenticationService.isLoggedInAsAdmin()" class="text-title">Panel Administratora</div>
  <div *ngIf="authenticationService.isLoggedInAsWorker() && !authenticationService.isLoggedInAsAdmin()"
       class="text-title">Panel Pracownika
  </div>
  <span>
        <mat-icon (click)="logout()">power_settings_new</mat-icon>
</span>
</div>

<div id="myAccountWrapper">
  <div id="accountPanel">
    <mat-card id="stickyAccountPanel">
      <ul class="logo">
        <img src="assets/logo.jpg" alt="image">
      </ul>

      <mat-divider></mat-divider>

      <ul>
        <li *ngIf="authenticationService.isLoggedInAsAdmin()"><a [routerLinkActiveOptions]="{exact:
true}" [routerLinkActive]="['active']" [routerLink]="['./personal-info']">Klienci</a></li>
        <li><a [routerLink]="['./orders']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
true}">Zamówienia</a></li>
        <li><a [routerLink]="['./products']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
true}">Produkty</a></li>
      </ul>
    </mat-card>
  </div>

  <mat-card id="accountDetails">
    <router-outlet></router-outlet>
  </mat-card>
</div>
