#myAccountWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#accountPanel {
  width: 25%;
}

.logout {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
}

.mat-icon {
  cursor: pointer;
}

#stickyAccountPanel {
  position: sticky;
  top: 50px;
  width: 100%;
  min-height: 200px;
}

#stickyAccountPanel ul {
  padding: 0;
  list-style-type: none;
  margin-top: 1em;
}

#stickyAccountPanel ul:first-of-type {
  margin-top: 0;
}

#stickyAccountPanel li {
  margin-bottom: 0.3125em;
}

#stickyAccountPanel li a {
  color: var(--light-grey);
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}

#stickyAccountPanel .mat-divider {
  position: inherit;
}

#stickyAccountPanel li a:hover,
#stickyAccountPanel li a:focus {
  color: var(--dark-grey);
  transition: 0.4s;
}

#accountDetails {
  width: 70%;
  min-height: 500px;
}

.active {
  color: var(--dark-grey) !important;
}

.logo {
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  #accountDetails {
    width: 100%;
  }

  #accountPanel {
    width: 100%;
  }

  #myAccountWrapper {
    flex-direction: column;
  }
}
