<div class="text-title">Klienci</div>


<!--<mat-card>-->
<div class="table-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrowanie">
  </mat-form-field>
</div>

<mat-table matSort id="specification" [dataSource]="dataSource">

  <!-- OrderId Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Numer klienta</mat-header-cell>
    <mat-cell *matCellDef="let element"><a [routerLink]="['./', element.id]">{{element.id}}</a></mat-cell>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="firstName">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Imie</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.firstName}}</mat-cell>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="lastName">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Nazwisko</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastName}}</mat-cell>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell mat-sort-header *matHeaderCellDef> E-mail</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<!--</mat-card>-->
