:root {
  display: flex;
  flex-direction: column;
}

.group {
  margin-top: 20px;
  margin-bottom: 60px;
}

#address-fields, #login-fields, #addressGroup {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.right {
  align-self: flex-end;
}

.title {
  text-align: center;
  margin: 20px 0;
}

.button-primary {
  margin-top: 10px;
  margin-bottom: 30px;
}

.mat-icon {
  cursor: default;
}

.eye-icon {
  cursor: pointer;
}

a {
  color: inherit;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.other_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0 40px;
}

.bold {
  font-weight: 400;
}

.empty {
  margin-left: 15px;
  font-size: 14px;
}



