<div class="header">
  <div class="left">
    <div class="btn-group" id="view">
      <button [routerLink]="['../']" mat-button mat-icon-button>
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>
  </div>
  <div class="text-title">Klient: {{customer?.firstName}} {{customer?.lastName}}</div>
</div>

<div class="group">
  <!--<div class="title">Dane adresowe</div>-->
  <form novalidate [formGroup]="addressFormGroup" (ngSubmit)="onSubmit(addressFormGroup)">
    <div id="address-fields">
      <mat-form-field>
        <input type="text" matInput placeholder="Nazwa firmy" formControlName="companyName" required maxlength="45">
        <mat-error
          *ngIf="companyName.errors?.required && companyName.invalid && (companyName.dirty || companyName.touched)">
          Wprowadź nazwę firmy
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Imię" formControlName="firstName" required maxlength="45">
        <mat-error
          *ngIf="firstName.errors?.required && firstName.invalid && (firstName.dirty || firstName.touched)">
          Wprowadź imię
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Nazwisko" formControlName="lastName" required maxlength="17">
        <mat-error
          *ngIf="lastName.errors?.required && lastName.invalid && (lastName.dirty || lastName.touched)">
          Wprowadź nazwisko
        </mat-error>
      </mat-form-field>

      <div id="addressGroup" formGroupName="address">
        <mat-form-field>
          <input type="text" matInput placeholder="Adres" formControlName="street" maxlength="45">
          <mat-error
            *ngIf="street.errors?.required && street.invalid && (street.dirty || street.touched)">
            Wprowadź adres
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="Kod pocztowy" formControlName="postcode"
                 maxlength="6">
          <mat-error
            *ngIf="postcode.invalid && (postcode.dirty || postcode.touched)">
            <div *ngIf="postcode.errors.required">Wprowadź 5-cyfrowy kod pocztowy (np. 02-823)</div>
            <div *ngIf="postcode.errors.pattern">Kod pocztowy jest niepoprawny</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="Miejscowość" formControlName="city" maxlength="45">
          <mat-error
            *ngIf="city.errors?.required && city.invalid && (city.dirty || city.touched)">
            Wprowadź miejscowość
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <input type="tel" matInput placeholder="Numer telefonu" formControlName="phoneNumber" maxlength="45">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error
          *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
          <div *ngIf="phoneNumber.errors?.required">Wprowadź numer telefonu</div>
          <div *ngIf="phoneNumber.errors?.pattern">Nieprawidłowy format numeru telefonu</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="email" matInput placeholder="Email" formControlName="email" maxlength="45">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error
          *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors?.required">Wprowadź adres email</div>
          <div *ngIf="email.errors?.email">Podany email jest nieprawidłowy</div>
        </mat-error>
      </mat-form-field>
      <app-button class="right" message="Zmień dane" [type]="'submit'"
                  [disabled]="addressFormGroup.invalid || saving" [loading]="saving"></app-button>
    </div>
  </form>
</div>

<!--<div class="group">-->
<!--<div class="title">Dane logowania</div>-->
<!--<form [formGroup]="loginFormGroup">-->
<!--<div id="login-fields">-->

<!--<mat-form-field>-->
<!--<input type="email" matInput placeholder="Adres email (login)" formControlName="email" required-->
<!--maxlength="45">-->
<!--<mat-icon matSuffix>email</mat-icon>-->
<!--<mat-error-->
<!--*ngIf="l.email.errors?.required && l.email.invalid && (l.email.dirty || l.email.touched)">-->
<!--Wprowadź adres email-->
<!--</mat-error>-->
<!--</mat-form-field>-->

<!--<mat-form-field>-->
<!--<input type="password" matInput placeholder="Hasło" formControlName="password" required maxlength="45"-->
<!--[type]="hide ? 'password' : 'text'">-->
<!--<mat-icon class="eye-icon" matSuffix-->
<!--(click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--<mat-error-->
<!--*ngIf="l.password.errors?.required && l.password.invalid && (l.password.dirty || l.password.touched)">-->
<!--Wprowadź hasło-->
<!--</mat-error>-->
<!--</mat-form-field>-->
<!--<app-button class="right" message="Zmień dane"></app-button>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->


<div class="text-title">Zamówienia</div>

<mat-table *ngIf="orders.length>0" matSort id="specification" [dataSource]="dataSource">

  <!-- OrderId Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Numer zamówienia</mat-header-cell>
    <mat-cell *matCellDef="let element"><a [routerLink]="['../../orders', element.id]">{{element.id}}</a></mat-cell>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="dateOfOrder">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Data złożenia</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.dateOfOrder | date}}</mat-cell>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="totalAmount">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Wartość</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.totalAmount | plnCurrency}}</mat-cell>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="orderStatus.name">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Status</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-chip-list>
        <mat-chip [style.background-color]="getColor(element)">{{element.orderStatus.name}}
        </mat-chip>
      </mat-chip-list>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<div class="empty" *ngIf="orders.length==0">Brak zamówień</div>

