:root {
  --charcoal-grey: #4a4f54;
}

.my-card {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.card__image {
  /*background-color: #cccccc;*/
  width: 40%;
  max-height: 100%;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

.card__image img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.card__image img[src=""],
.card__image img[src="#"],
.card__image img:not([src]) {
  background: ghostwhite;
  object-fit: contain;
  width: 100%;
  height: 100%;
  min-height: 100px;
  min-width: 100px;
  border-radius: 1em;
  border: 0;
}

.card__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70px;
  padding-top: 0;
  padding-left: 20px;
  max-width: 60%;
  width: 100%;
}

.title,
.card__details__title,
.card__details__description,
.card__details__price {
  font-family: 'Roboto', sans-serif;
  object-fit: contain;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  width: 100%;
  color: var(--charcoal-grey);
}

.card__details__title:empty,
.card__details__description:empty,
.card__details__price:empty {
  height: 16px;
  background: ghostwhite;
  border-radius: 1em;
  width: 75%;
}

.card__details__title {
  font-size: 20px;
  line-height: 1.35;
}


.card__details__description {
  text-align: justify;
}

.card__details__title:empty {
  width: 50%;
  height: 20px;
}

.card__details__price {
  text-align: center;
}

.card__details__price:empty {
  align-self: flex-end;
  width: 20%;
}

.card__details_button {
  text-align: center;
}

.card__details > div {
  margin: 15px 0;
}


@media screen and (max-width: 599px) {
  .my-card {
    flex-direction: column;
  }

  .card__image {
    max-width: 100%;
  }

  .card__details {
    max-width: 100%;
    padding-left: 0;
  }
}
