<mat-card>
  <div class="text-title">{{product.name}}</div>
  <div class="my-card">
    <div class="card__image">
      <img
        (load)="loadImg()" [src]="product.imageUrl">
    </div>
    <div class="card__details">
      <div class="card__details__description">{{product.description}}
      </div>
      <div class="card__details__price">{{product.unityPrice | plnCurrency}}</div>
      <div (click)="addProductToCart()" class="card__details_button">
        <app-button message="Dodaj do koszyka"></app-button>
      </div>
    </div>

  </div>
</mat-card>


<div class="text-title">Specyfikacja</div>


<mat-card>

  <mat-table id="specification" [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>

    <!-- Detail Column -->
    <ng-container matColumnDef="detail">
      <mat-header-cell *matHeaderCellDef> Detail</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.value}}</mat-cell>
    </ng-container>


    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>



