<div id="breadcrumbs">
  <a [routerLink]="['/products']" class="breadcrumbs">Produkty</a>
  <span class="breadcrumbs">/</span>
  <a [routerLink]="['/products', product.subcategory.id]" class="breadcrumbs">{{product.subcategory.name}}</a>
  <span class="breadcrumbs">/</span>
  <a class="breadcrumbs active">{{product.name}}</a>
</div>

<mat-card>
  <div class="text-title">{{product.name}}</div>
  <div class="my-card">
    <div class="card__image">
      <img [src]="product.imageUrl" alt="product image">
    </div>
    <div class="card__details">
      <div class="card__details__description">{{product.description}}
      </div>
      <div class="card__details__price">{{product.unitPrice | plnCurrency}}</div>
      <div (click)="addProductToCart()" class="card__details_button">
        <app-button [disabled]="saving" [loading]="saving" message="Dodaj do koszyka"></app-button>
      </div>
    </div>

  </div>
</mat-card>


<div id="recommended-products">
  <div class="text-title">Najczęściej kupowane z tym produktem:</div>
  <div>
    <ngx-slick-carousel #slickModal="slick-carousel"
                        [config]="getSlideConfig()"
                        class="carousel">

      <a *ngFor="let product of recommendedProducts" [routerLink]="['/products/detail', product.id]" class="slide"
         ngxSlickItem>
        <mat-card>
          <img [src]="product.imageUrl" mat-card-image>
          <mat-card-content>{{product.name}}</mat-card-content>
          <p class="right">
            {{product.unitPrice | plnCurrency}}
          </p>
        </mat-card>
      </a>
    </ngx-slick-carousel>
  </div>
</div>

<div class="text-title">Specyfikacja</div>

<mat-card>
  <mat-table id="specification" [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>

    <!-- Detail Column -->
    <ng-container matColumnDef="detail">
      <mat-header-cell *matHeaderCellDef> Detail</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.value}}</mat-cell>
    </ng-container>


    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>



