.login-wrapper {
  max-width: 700px;
  margin: auto;
  padding: 5px;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.login-form-group > .mat-form-field {
  width: 100%;
}

.login-confirm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.login-confirm app-button {
  margin-top: 10px;
}

.mat-icon-button {
  width: 24px;
  height: 24px;
}

.mat-icon-button .mat-icon {
  vertical-align: baseline;
}

.signup-panel {
  margin: 60px 10px 25px;
  text-align: center;
}

.signup-panel:first-child {
  margin-bottom: 10px;
}

.signup {
  text-decoration: none;
  color: inherit;
}

.signup:hover, .signup.active {
  color: var(--light-grey);
}

