.login-form-group {
  display: flex;
  flex-direction: column;
}

.login-form-group > .mat-form-field {
  width: 100%;
}

.login-confirm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.login-confirm app-button {
  margin-top: 10px;
}

.mat-icon-button {
  width: 24px;
  height: 24px;
}

.mat-icon-button .mat-icon {
  vertical-align: baseline;
}
