<div class="login-wrapper">
  <div class="text-title">Logowanie</div>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginFormGroup">
    <div class="login-form-group">
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input [formControl]="username" matInput placeholder="Login" type="email">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="username.hasError('required')">
          Wprowadź login
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Hasło</mat-label>
        <input [formControl]="password" [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Hasło">
        <button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword" mat-icon-button
                matSuffix
                type="button">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.hasError('required')">
          Wprowadź login
        </mat-error>
      </mat-form-field>
    </div>

    <mat-checkbox [formControl]="rememberMe">Zapamiętaj mnie</mat-checkbox>

    <div class="login-confirm">
      <mat-error *ngIf="error">{{error}}</mat-error>
      <app-button [disabled]="saving" [loading]="saving" [type]="'submit'" class="right"
                  message="Zaloguj"></app-button>
    </div>

    <div class="signup-panel">
      <div class="text-description">Nie masz jeszcze konata?</div>
      <a [routerLink]="['/signup']" class="signup text">Zarejestruj się</a>
    </div>
  </form>
</div>
