<div class="menu">
  <header id="menu-banner" [class.active]="categoriesIsActive" role="banner">
    <div class="menu-bar">
      <div class="menu-container">
        <ul class="left">
          <li>
            <a (click)="openCategoryMenu($event)" [class.active]="categoriesIsActive" id="menuButton">
              Produkty
            </a>
          </li>
        </ul>
        <ul class="right">
          <li>
            <a (click)="goToPage($event)" [routerLink]="['/support']">Wsparcie</a>
          </li>
          <li>
            <a (click)="goToPage($event)" [routerLink]="['/cart']">Koszyk</a>
          </li>
          <li>
            <a (click)="goToPage($event)" [routerLink]="['/account']">Zaloguj</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="mega-menu-panel" [class.active]="categoriesIsActive">
      <nav id="mega-menu" role="navigation" [class.active]="categoriesIsActive">
        <div *ngFor="let category of categories; index as i" class="mega-menu__submenu"
             [style.animation-delay.s]="i/10"
             [fxFlex.lt-sm]="100"
             [fxFlex.sm]="50"
             [fxFlex.md]="33.3"
             [fxFlex]="25">
          <h4 (click)="goToCategory($event)" [routerLink]="['/products', category.id]">{{category.name}}</h4>
          <ul>
            <li *ngFor="let subcategory of category.subcategories" class="mega-menu__submenu__menu-item">
              <a (click)="goToCategory($event)" [routerLink]="['/products', subcategory.id]">{{subcategory.name}}</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
</div>
