<div class="menu">
  <header id="menu-banner" [class.active]="categoriesIsActive" role="banner">
    <div class="menu-bar">
      <div class="menu-container">
        <ul class="left">
          <li>
            <a (click)="openCategoryMenu($event)" [class.active]="categoriesIsActive" id="menuButton">
              Produkty
            </a>
          </li>
        </ul>
        <ul class="right">
          <li>
            <a (click)="goToPage($event)"
               *ngIf="!authenticationService.isLoggedIn() || authenticationService.isLoggedInAsUser()"
               [routerLink]="['/support']">Wsparcie</a>
          </li>
          <li>
            <a (click)="goToPage($event)"
               [routerLink]="['/shops']">Sklepy</a>
          </li>
          <li>
            <a (click)="goToPage($event)"
               *ngIf="!authenticationService.isLoggedIn() || authenticationService.isLoggedInAsUser()"
               [routerLink]="['/cart']">Koszyk</a>
          </li>
          <li>
            <a (click)="goToPage($event)" *ngIf="authenticationService.isLoggedInAsAdmin()" [routerLink]="['/admin']">
              Panel administracyjny
            </a>
            <a (click)="goToPage($event)"
               *ngIf="authenticationService.isLoggedInAsWorker() && !authenticationService.isLoggedInAsAdmin()"
               [routerLink]="['/admin']">
              Panel Pracownika
            </a>
            <a (click)="goToPage($event)" *ngIf="authenticationService.isLoggedInAsUser()" [routerLink]="['/account']">
              Konto
            </a>
            <a (click)="goToPage($event)" *ngIf="!authenticationService.isLoggedIn()" [routerLink]="['/login']">Zaloguj
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="mega-menu-panel" [class.active]="categoriesIsActive">
      <nav id="mega-menu" role="navigation" [class.active]="categoriesIsActive">
        <div *ngFor="let category of categories; index as i" class="mega-menu__submenu"
          [fxFlex.lt-sm]="100"
          [fxFlex.md]="33.3"
          [fxFlex.sm]="50"
          [fxFlex]="25"
          [style.animation-delay.s]="i/10">
          <h4 (click)="goToCategory($event)" [routerLink]="['/products/category', category.id]">{{category.name}}</h4>
          <ul>
            <li *ngFor="let subcategory of category.subcategories" class="mega-menu__submenu__menu-item">
              <a (click)="goToCategory($event)" [routerLink]="['/products', subcategory.id]">{{subcategory.name}}</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
</div>
