:host {
  margin-bottom: 40px;
}

.product-row.header > div {
  text-align: center;
}

.product-row.header > .product-name {
  text-align: left;
}

.product-name-top {
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-self: baseline;
  width: 100%;
  height: inherit;
  margin: 10px 0;
}

.item-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-between;
}

.item-header .product-remove {
  align-self: flex-start;
}

.item-header .product-remove .mat-icon-button {
  margin: 0 0 0 5px;
}

.product-row {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  /*min-height: 120px;*/
  text-align: right;
  flex-wrap: wrap;
}

.product-row * {
  align-self: inherit;
}

.product-row .product-details > div {
  margin: 4px 7px;
  align-self: baseline;
}

.product-row mat-divider {
  align-self: flex-end;
}

.product-name {
  min-width: 100px;
  width: 100%;
  text-align: left;
}

.product-row.header {
  height: auto;
  margin: 10px 0;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.product-name:hover {
  cursor: pointer;
}

.product-price, .product-subtotal {
  min-width: 90px;
  text-align: right;
}

.product-remove {
  min-width: 20px;
}

.product-image,
.product-image img {
  min-width: 70px;
  width: 70px;
  height: auto;
}

.product-image:hover,
.product-image img:hover {
  cursor: pointer;
}

.mat-icon {
  font-size: 13px !important;
  width: 13px !important;
  height: 13px !important;
  line-height: 13px !important;
}

.mat-icon-button {
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
  margin: 0 5px;
}

.product-quantity {
  min-width: 110px;
  text-align: center;
  align-self: center;
}

.mat-form-field-infix {
  max-width: 50px !important;
  text-align: center !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-total {
  text-align: right;
  min-width: 100px;
}

@media screen and (max-width: 469px) {
  .product-details > .product-subtotal {
    justify-self: flex-end;
    width: 100%;
  }

  .product-details {
    flex-wrap: wrap;
  }
}
