<div class="text-title">Twój koszyk</div>
<mat-card *ngIf="cartItems.length>0">
  <div class="product-row header">
    <div class="product-image"></div>
    <div class="product-name">Produkt</div>
    <div class="product-price">Cena</div>
    <div class="product-quantity">Ilość</div>
    <div class="product-subtotal">Razem</div>
    <div class="product-remove"></div>
  </div>

  <mat-divider></mat-divider>

  <div class="product-row" *ngFor="let item of cartItems; index as i">
    <div class="item-header" fxShow.lt-md="true" fxShow.gt-sm="false">
      <div [routerLink]="['/products', item.product.id, 'details']" class="product-name-top">{{item.product.name}}</div>
      <div class="product-remove">
        <button mat-button mat-icon-button (click)="removeItem(item)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="product-details">
      <div class="product-image">
        <img [routerLink]="['/products', item.product.id, 'details']" [src]=item.product.imageUrl alt="product image">
      </div>
      <div class="product-name" fxShow.lt-md="false" fxShow.gt-sm="true"
           [routerLink]="['/products', item.product.id, 'details']">{{item.product.name}}</div>
      <div class="product-price">{{item.product.unitPrice | plnCurrency}}</div>
      <div class="product-quantity">
        <button mat-button mat-icon-button [disabled]="+item.quantity == 1" (click)="decreaseQuantity(item)">
          <mat-icon>remove</mat-icon>
        </button>
        <mat-form-field floatLabel="never">
          <input matInput id="productQuantity[{{i}}]" type="number" [(ngModel)]="item.quantity" placeholder="0"
                 (blur)="changeQuantity(+item.product.id, item.quantity)">
        </mat-form-field>
        <button mat-button mat-icon-button (click)="increaseQuantity(item)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="product-subtotal">{{((+item.product.unitPrice) * (+item.quantity)) | plnCurrency}}</div>
      <div class="product-remove" fxShow.lt-md="false" fxShow.gt-sm="true">
        <button mat-button mat-icon-button (click)="removeItem(item)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="product-row header">
    <div class="product-subtotal" *ngIf="cartItems">{{getSumPrice() | plnCurrency}}</div>
    <div class="product-remove"></div>
  </div>
</mat-card>

<div *ngIf="cartItems.length == 0" class="empty-list">
  <img alt="image" class="empty-image" src="assets/empty_cart_icon.png">
  <div class="text-title empty-message">Twój koszyk jest pusty</div>
  <div class="empty-button">
    <app-button [routerLink]="['../products/4']" message="Rozpocznij zakupy"></app-button>
  </div>
</div>

<div (click)="goToPayment()" *ngIf="cartItems.length > 0" [routerLink]="['../payment']" class="right">
  <app-button [disabled]="saving || cartItems.length == 0" [loading]="saving"
              message="Przejdź do płatności"></app-button>
</div>
