<div class="text-title">Twój koszyk</div>
<mat-card>
  <div class="product-row header">
    <div class="product-image"></div>
    <div class="product-name">Produkt</div>
    <div class="product-price">Cena</div>
    <div class="product-quantity">Ilość</div>
    <div class="product-subtotal">Razem</div>
    <div class="product-remove"></div>
  </div>

  <mat-divider></mat-divider>

  <div class="product-row" *ngFor="let item of cartItems; index as i">
    <div class="product-name-top" fxShow.lt-md="true" fxShow.gt-sm="false"
         [routerLink]="['/products/detail', item.product.id]">{{item.product.name}}</div>
    <div class="product-details">
      <div class="product-image">
        <img alt="product image" [routerLink]="['/products/detail', item.product.id]" [src]=item.product.imageUrl>
      </div>
      <div class="product-name" fxShow.lt-md="false" fxShow.gt-sm="true"
           [routerLink]="['/products/detail', item.product.id]">{{item.product.name}}</div>
      <div class="product-price">{{item.product.unitPrice | plnCurrency}}</div>
      <div class="product-quantity">
        <button mat-button mat-icon-button [disabled]="+item.quantity == 1" (click)="decreaseQuantity(item)">
          <mat-icon>remove</mat-icon>
        </button>
        <mat-form-field floatLabel="never">
          <input matInput id="productQuantity[{{i}}]" type="number" [(ngModel)]="item.quantity" placeholder="0"
                 (blur)="changeQuantity(+item.product.id, item.quantity)">
        </mat-form-field>
        <button mat-button mat-icon-button (click)="increaseQuantity(item)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="product-subtotal">{{((+item.product.unitPrice) * (+item.quantity)) | plnCurrency}}</div>
      <div class="product-remove">
        <button mat-button mat-icon-button (click)="removeItem(item)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="product-row header">
    <div class="product-subtotal" *ngIf="cartItems">{{getSumPrice() | plnCurrency}}</div>
    <div class="product-remove"></div>
  </div>
</mat-card>

<div class="right" (click)="goToPayment()" [routerLink]="['../payment']">
  <app-button message="Przejdź do płatności"></app-button>
</div>
