<div class="text-title">Twój koszyk</div>
<mat-card>
  <div class="product-row header">
    <div class="product-image"></div>
    <div class="product-name">Produkt</div>
    <div class="product-price">Cena</div>
    <div class="product-quantity">Ilość</div>
    <div class="product-subtotal">Razem</div>
    <div class="product-remove"></div>
  </div>
  <div class="product-row" *ngFor="let item of cartItems; index as i">
    <div class="product-image">
      <img [routerLink]="['/users', item.product.id]"
           src="https://stat-m2.ms-online.pl/media/cache/gallery/rc/cfcrh0yi/images/20/20716176/microsoft-surface-laptop-platinum-2.jpg">
    </div>
    <div class="product-name" [routerLink]="['/users', item.product.id]">{{item.product.firstName}}</div>
    <div class="product-price">{{+item.product.lastName | number: '1.2-2'}} zł</div>
    <div class="product-quantity">
      <button mat-button mat-icon-button [disabled]="+item.quantity == 1" (click)="reduceQuantity(item)">
        <mat-icon>remove</mat-icon>
      </button>
      <mat-form-field>
        <input matInput id="productQuantity[{{i}}]" type="number" [(ngModel)]="item.quantity">
      </mat-form-field>
      <button mat-button mat-icon-button (click)="increaseQuantity(item)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="product-subtotal">{{(+item.product.lastName * +item.quantity) | number: '1.2-2'}} zł</div>
    <div class="product-remove">
      <button mat-button mat-icon-button (click)="removeItem(item)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="product-total">{{getSumPrice() | number: '1.2-2'}}</div>

</mat-card>
