
.wrapper {
  width: 80%;
  margin: 10px auto 40px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 599px) {
  .wrapper {
    width: 98%;
  }
}

.right {
  display: flex;
  justify-content: flex-end;
}

.left {
  display: flex;
  justify-content: flex-start;
}
