<mat-card>

  <div class="row col options">
    <mat-form-field class="left">
      <mat-select (selectionChange)="changePageSorting($event)" [value]="sortBy" placeholder="Sortuj wg">
        <mat-option *ngFor="let sort of sortByOptions" [value]="sort.value">
          {{sort.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="right">
      Widok:
      <div class="btn-group" id="view">
        <button (click)="switchToGridView()" mat-button mat-icon-button>
          <mat-icon>view_module</mat-icon>
        </button>
        <button (click)="switchToListView()" mat-button mat-icon-button>
          <mat-icon>view_list</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div fxFlexAlign="space-between" fxLayout="row wrap" id="products">
    <app-product-card *ngFor="let product of products; trackBy:identify"
                      [class.list-view]="!gridViewIsActive"
                      [description]="product.description"
                      [fxFlex.lt-md]="50.0"
                      [fxFlex.md]="33.3"
                      [fxFlex]="25.0"
                      [id]="product.id"
                      [imageSrc]="product.imageUrl"
                      [listView]="!gridViewIsActive"
                      [price]="product.unitPrice"
                      [title]="product.name">
    </app-product-card>
  </div>


  <div>
    <mat-paginator #paginator
                   (page)="pageEvent = changePage($event)"
                   [length]="totalElements"
                   [pageIndex]="currentPage"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize">

    </mat-paginator>
  </div>
</mat-card>
<!--<h2>{{currentPage}}</h2>-->
