@media screen and (max-width: 599px) {
  .wrapper {
    width: 98%;
  }
}

.list-view {
  max-width: 100% !important;
  flex: 1 1 100% !important;
}

.right {
  float: right;
}

.mat-select-panel .mat-option,
.mat-option.ng-star-inserted {
  height: 2.5em;
}

.mat-form-field {
  font-size: 14px;
}

.options {
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.options {
  padding: 0 16px;
}

.options .material-icons {
  padding: 2px;
}

.options .material-icons:hover {
  cursor: pointer !important;
}

.mat-card {
  padding-left: 0;
  padding-right: 0;
}
