.mat-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.mat-radio-button {
  margin: 5px;
}

#address-fields {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.mat-radio-group {
  width: 100%;
}
