<div class="text-title">Zamówienia</div>


<!--<mat-card>-->

<mat-table matSort id="specification" [dataSource]="dataSource">

  <!-- OrderId Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Numer zamówienia</mat-header-cell>
    <mat-cell *matCellDef="let element"><a [routerLink]="['./', element.id]">{{element.id}}</a></mat-cell>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="dateOfOrder">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Data złożenia</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.dateOfOrder | date}}</mat-cell>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="totalAmount">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Wartość</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.totalAmount | plnCurrency}}</mat-cell>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="orderStatus.name">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Status</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-chip-list>
        <mat-chip [style.background-color]="getColor(element)">{{element.orderStatus.name}}
        </mat-chip>
      </mat-chip-list>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<!--</mat-card>-->
