<div class="wrapper">

  <div class="row col options">
    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="gridViewIsActive" (change)="switchView($event)">
      <mat-button-toggle value="true" [checked]="true">
        <mat-icon>view_module</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="false">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field class="right">
      <mat-select placeholder="Sort by" [value]="sortBy" (selectionChange)="changePageSorting($event)">
        <mat-option *ngFor="let sort of sortByOptions" [value]="sort.value">
          {{sort.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div id="products" fxLayout="row wrap" fxFlexAlign="space-between">
    <app-product-card *ngFor="let user of users; trackBy:identify"
                      [class.list-view]="!gridViewIsActive"
                      [fxFlex]="25"
                      [fxFlex.md]="33.3"
                      [fxFlex.lt-md]="50"
                      title={{user.firstName}}
                      description={{user.email}}
                      [price]="user.id"
                      imageSrc="https://stat-m2.ms-online.pl/media/cache/gallery/rc/cfcrh0yi/images/20/20716176/microsoft-surface-laptop-platinum-2.jpg"
                      [listView]="!gridViewIsActive"
                      [routerLink]="[ '/users', user.id]">
    </app-product-card>
  </div>


  <div class="right">
    <mat-paginator #paginator
                   [length]="totalElements"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageIndex]="currentPage"
                   (page)="pageEvent = changePage($event)">

    </mat-paginator>
  </div>
</div>
<!--<h2>{{currentPage}}</h2>-->
