@import "~@angular/material/prebuilt-themes/indigo-pink.css";


:root {
  --dark-grey: #4a4f54;
  --light-grey: #9b9b9b;;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #f8f8f8;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  object-fit: contain;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: var(--dark-grey);
}

body * {
  box-sizing: border-box;
}

.mat-card {
  margin-bottom: 30px;
}

.text-title {
  margin: 15px;
  font-size: 20px;
  line-height: 1.35;
}

.right {
  float: right;
}

.left {
  float: left;
}

button,
.mat-button:focus,
.mat-icon-button:focus,
.mat-button-wrapper:focus {
  outline: none !important;
}

.product-quantity .mat-form-field-infix {
  max-width: 50px !important;
  text-align: center !important;
}

.mat-table .mat-row .mat-cell {
  white-space: pre-line !important;
  padding: 5px;
}


.mat-snack-bar-container {
  background: rgba(74, 79, 84, .8) !important;
  border-radius: 30px !important;
  padding: 0 30px !important;
  max-width: 100% !important;
  min-width: 320px !important;
  width: 40% !important;
  color: aliceblue !important;
  text-align: center !important;
}

.mat-snack-bar-container .mat-button-wrapper {
  color: aliceblue !important;
}

.mat-simple-snackbar, .mat-simple-snackbar * {
  text-align: center !important;
  color: aliceblue !important;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.mat-chip {
  font-weight: 400;
}

.text-description {
  font-family: 'Roboto', sans-serif;
  object-fit: contain;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  width: 100%;
  color: var(--charcoal-grey);
  white-space: pre-line;
}

#product-details div.mat-form-field-underline {
  height: 0;
}

#product-details #specification-table .mat-form-field-underline {
  height: 1px;
}


