<div class="text-title">Twoje konto</div>
<div id="myAccountWrapper">
  <div id="accountPanel">
    <mat-card id="stickyAccountPanel">
      <ul>
        <li>{{customer?.firstName}} {{customer?.lastName}}</li>
      </ul>

      <mat-divider></mat-divider>

      <ul>
        <li><a [routerLink]="['./personal-info']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
true}">Twoje dane</a></li>
        <li><a [routerLink]="['./orders']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
true}">Twoje zamówienia</a></li>
      </ul>
    </mat-card>
  </div>

  <mat-card id="accountDetails">
    <router-outlet></router-outlet>
  </mat-card>
</div>
